.intro {
    background-image: url("/images/computer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 5%;
}
.main {
    background-color: #fff;
    width: auto;
    margin-left: 20%;
    margin-right: 20%;
    color: #353336;
}
.name-section {
    padding-top: 15%;
}
.name {
    font-size: 2rem;
}
.about {
    background-color: #f9f7f7;
    text-align: center;
    width: auto;
    padding: 5% 20% 5% 20%;
    font-size: 1.2rem;
    color: #353336;
}
.hello {
    font-size: 2rem;
}
#certification, #education, #contact {
    margin: 0%;
}
.heading-light {
    margin: 0%;
    text-align: center;
    color: #112d4e;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
}
table {
    margin: 0%;
}
#skills {
    background-color: #112d4e;
    margin: 0%;
    margin-bottom: 0.1%;
    color: #fff;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
}
.skill-section {
    background-image: url("/images/skill-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-right: 15%;
    padding-left: 15%;
}
.column {
    display: inline-block;
    background-color: #3f72af70;
    width: 100%;
    color: #fff;
    margin-bottom: 2%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}
.col-left {
    margin-right: 10%;
}
#contact {
    background-color: #eeeeee;
}
.contact-section {
    padding-top: 0.1%;
}
.form-section {
    background-color: #eeeeee;
    display: inline-block;
    margin: 0%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
}
.textarea {
    margin-top: 1%;
}
button {
    margin-top: 1.5%;
}
.inf-section {
    display: inline-block;
    background-color: #eeeeee;
    margin: 0%;
    margin-left: 0.1%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 4%;
}
footer {
    margin: 0%;
    background-color: #f9f7f7;
    color: #112d4e;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}
footer, p {
    margin: 0%;
}